
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/sketchy/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Title</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container-fluid {
            width: 100%;
            height: 1100px;
            background-color: #F5F5F5;
        }

        .content {
            border-radius: 10px;
            box-shadow: 2px 2px #9575cd, -0.2em 2px rgba(255, 255, 255, 0.1);
            width: 400px;
            height: 340px;
            padding: 20px;
            justify-content: center;
            background-color: #FFFFFF;
        }

        .headerContent {
            border-bottom: 1px solid #424242;
            padding-bottom: 8px;
        }

        .textContent {
            padding-top: 20px
        }

        .formInput input {
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            outline: none;
            margin-bottom: 20px;
            border: 1px solid #424242;
        }

        .formInput {
            border-bottom: 1px solid #424242;
        }

        .footerContent {
            margin-top: 20px;
            float: right;
        }

        .btnCancel {
            margin-right: 10px;
            width: 80px;
            border-radius: 10px;
            color: #ffff;
        }

        .btnFind {
            width: 80px;
            border-radius: 10px;
            color: #ffff;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #A1887F; height: 70px;">
                    <ul class="nav ">
                        <li class="nav-item">
                            <a class="nav-link active" href="#Home" style="font-size: 25px;">Flower</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-5"></div>
            <div class="col-md-4" style="width: 100%; height: 1000px;">
                <div class="content">
                    <div class="headerContent">
                        <h2>New Password</h2>
                    </div>
                    <div class="textContent">
                        <p>Enter a new password to proceed with login</p>
                    </div>
                    <div class="formInput">
                        <input type="password" placeholder="New Password" id="newPassword">
                        <input type="password" placeholder="Retype new password" id="reTypePassword">
                    </div>
                    <div class="footerContent">
                        <button class="btn btnCancel" style="background-color: gray;">Cancel</button>
                        <button class="btn btnSubmit" style="background-color: blue;">Submit</button>
                    </div>
                    <input type="hidden" id="customerID" data-id="@ViewBag.customerID" />
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/assets/admin/bootstrap4/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/assets/admin/js/InnerFormValidation.js"></script>
    <script src="~/assets/admin/MDBBoostrap/fontAll.min.js"></script>
    <link href="~/assets/admin/admin-sbStyle/build/toastr.css" rel="stylesheet" type="text/css" />
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="~/assets/admin/admin-sbStyle/build/toastr.js"></script>ts used in callback. -->
    <script src="~/assets/admin/admin-sbStyle/build/toastr.js"></script>
    <script>
        $(document).on("click", ".btnSubmit", function (e) {
            e.preventDefault();
            var newPass = $("#newPassword").val();
            var rePass = $("#reTypePassword").val();
            if (newPass == "") {
                $("#newPassword").css("border", "1px solid red");
                //Show toast
                shortCutFunction = "error";
                msg = "Error! Required new password";
                title = "error";
                var $toast = toastr[shortCutFunction](msg, title);
                $toastlast = $toast;
                //Show toast
            } else if (rePass == "") {
                $("#reTypePassword").css("border", "1px solid red");
                //Show toast
                shortCutFunction = "error";
                msg = "Error! Required new Retype password";
                title = "error";
                var $toast = toastr[shortCutFunction](msg, title);
                $toastlast = $toast;
                //Show toast
            } else if (newPass != rePass) {
                //Show toast
                shortCutFunction = "error";
                msg = "Error! Re-entered password does not match";
                title = "error";
                var $toast = toastr[shortCutFunction](msg, title);
                $toastlast = $toast;
                //Show toast
            } else {
                var customerID = $("#customerID").data("id");
                newPassword(customerID, newPass);
            }
        });

        $(document).on("click", "#btnCancel", function (e) {
            e.preventDefault();
            window.location.href = "/Home/Index";
        });

        function newPassword(customerID,password) {
            $.ajax({
                url: "/User/resetPassword",
                type: 'POST',
                dataType: 'json',
                contentType: "application/json; charset=UTF-8",
                data: JSON.stringify({ customerID: customerID, newPassword: password }),
                success: function (respose) {
                    window.location.href = "/Home/Index"
                },
                error: function (respose) {
                    if (respose.statusCode == 404) {
                        window.location.href = "/Home/error404"
                    }
                }
            });
        }
    </script>
</body>
</html>
